.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
}
.sl-caption.pos-bottom {
  text-align: center;
}
.load-more {
  margin-top: 1.2em;
  width: 80%;
  background-color: rgba(12, 129, 212, 1);
  margin-left: 10%;
  border: 0;
  color: #fff;
  font-size: 1.3rem;
  height: 2.3em;
}
